@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url(./animations.css);

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.hide {
  visibility: hidden;
}

/* ----------------------- Header ------------------------------------- */

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;

  background-color: black;
  color: white;
  height: 5vh;
}

#timer {
  margin-bottom: 2rem;
  width: 100%;
}

/* ----------------------- Main ------------------------------------- */

main {
  height: 100vh;
  background-color: #2e182f;
  align-items: center;
  justify-content: center;
}

/* section {
  height: 100vh;

} */

h2 {
  text-align: center;
}

.question {
  font-size: 2.2rem;
  color: white;
  width: 50vw;
}

.question-answer-container {
  animation: slideIn 1s ease 0s 1 normal forwards;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------ Botones respuestas -------------- */

.answers-container {
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.answers-container > * {
  width: 40%;
  margin: 0.5rem;
}

.btn {
  border: none;
  height: 10vh;
  width: 20vw;

  padding: 0.6rem;
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: 400;
  transition: transform 0.2s ease-in;
}

.btn:hover {
  transform: scale(1.05);
}

.correct {
  background-color: green;
  color: white;
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

.wrong {
  background-color: red;
  color: white;
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ------------------------ Boton 'Next' -------------- */

.next-button-container {
  display: flex;
  justify-content: center;
}

.next-button {
  border: none;
  margin-top: 2rem;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  border-radius: 7px;
  font-size: 2rem;
}

.next-button-show {
  animation: nextButtonShow 0.3s ease-in;
}

/* -------------------------- Game Over ----------------------------------- */

.final-score,
.score-text {
  color: white;

  animation: entrance 0.5s ease-in-out;
}

.score-text {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.final-score {
  font-size: 5rem;
  color: #fedc00;

  margin-top: 2.3rem;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 700px) {
  .answers-container {
    flex-direction: column;
  }

  .question {
    font-size: 2.2rem;
    color: white;
    width: 70vw;
    margin-top: 2rem;
  }

  .answers-container > * {
    margin: 0;
    margin-bottom: 0.8rem;
  }

  .btn {
    width: 100%;
  }

  .next-button {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 504px) {
  .question {
    font-size: 1.5rem;
  }
}
