main {
  height: 100vh;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

.btn {
  border: none;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  border-radius: 7px;
}

.answers-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.next-button {
  border: 1px solid green;
}
