@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  color: white;
}

main {
  display: flex;
  height: 100vh;
  background-color: #2e182f;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  margin-top: 2rem;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  border-radius: 7px;
  font-size: 2rem;
}

.game-mode-container {
  display: flex;
  gap: 5rem;
}

.image-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
}

.image-container:hover {
  transform: scale(1.2);
}

img {
  max-width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .game-mode-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
